<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body class=" body">
    <div class="wrapper flex">
        <img src="https://th.bing.com/th/id/OIP.09F15WCuEz8e1c1OwXN1GgAAAA?w=474&h=474&rs=1&pid=ImgDetMain" alt="" class="logo">
        <h1 class="heading">Welcome to <span>Pinterest</span></h1>
       
            <form action="/register" method="post" class="inputs flex">
            <label for="email">Email</label>
            <input type="email" class="email" id="email" name="email" placeholder="Email" required>
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <label for="username" class="username"  >Username</label>
            <input type="text"  id="username" placeholder="Username" name="username" required>
            <div class="registerBtn"><button type="submit" class="btn flex">Register</button></div>
            
        </form>
    

        <a href="/login" class="signin">Already have accoutn?Sign in</a>
    </div>
    </body>
</html>