*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #141414; */
    color: white;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 7rem 5rem;
  
    overflow-y: auto;
}
.cards .card{
    width: 20rem;
    height: 40rem;
    background-color: whitesmoke;
    color: black;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
    box-shadow: 0 0 5px white;
    position: relative;
}
.cards .card:nth-child(2n){
    height: 35rem;
    position: relative;
    top:7% ;
}
.cards .card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: none;

}
.cards .card:hover::after{
    display: block;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



